@use '../base/var' as *;

.activities {
  padding-bottom: 80px;

  @media screen and (min-width: 724px) {
    padding-bottom: 100px;
  }

  @media screen and (min-width: 1236px) {
    padding-bottom: 164px;
  }

  &__btn {
    color: $bg-color;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: -0.81px;
    display: inline-flex;
    padding: 14px 28px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 60px;
    background: $main-color;
    position: absolute;
    bottom: 24px;
    left: 24px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media screen and (min-width: 724px) {
      gap: 32px;
    }

    @media screen and (min-width: 1236px) {
      flex-direction: row;
      gap: 64px;
      flex-wrap: wrap;
      align-items: baseline;
    }
  }

  &__item {
    position: relative;
  }

  &__item:first-child {
    width: 335px;
    height: 335px;
    position: relative;

    @media screen and (min-width: 724px) {
      width: 704px;
      height: 632px;
    }

    @media screen and (min-width: 1236px) {
      width: 712px;
      height: 632px;
    }

    &::before {
      content: '';
      display: block;
      border-radius: 50%;
      width: 255px;
      height: 255px;
      transform: rotate(-44.916deg);
      background-image: radial-gradient(circle, #e7f9ff 0%, $bg-color 100%);
      background-size: 255px;
      background-repeat: no-repeat;
      background-position: center;
      opacity: 0.7;
      filter: blur(90px);
      position: absolute;
      left: -100px;
      bottom: -80px;
      z-index: -1;

      @media screen and (min-width: 724px) {
        width: 399px;
        height: 399px;
        background-size: 399px;
        left: -150px;
        bottom: -80px;
      }
      @media screen and (min-width: 1236px) {
        width: 414px;
        height: 414px;
        background-size: 414px;
      }
    }
  }

  &__item:nth-child(2) {
    width: 335px;
    height: 335px;

    @media screen and (min-width: 724px) {
      width: 400px;
      height: 389px;
      margin-left: 304px;
    }

    @media screen and (min-width: 1236px) {
      width: 440px;
      height: 428px;
      margin-left: 0px;
    }
  }

  &__item:last-child {
    width: 335px;
    height: 335px;

    @media screen and (min-width: 724px) {
      width: 380px;
      height: 352px;
    }

    @media screen and (min-width: 1236px) {
      width: 436px;
      height: 352px;
      margin-left: 340px;
    }
  }
}
