@use '../base/var' as *;

.activities {
  background-color: $bg-color;
  padding-bottom: 80px;

  @media screen and (min-width: 724px) {
    padding-bottom: 100px;
  }

  @media screen and (min-width: 1236px) {
    padding-bottom: 164px;
  }

  &__btn {
    color: $bg-color;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: -0.81px;
    display: inline-flex;
    padding: 14px 28px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 60px;
    background: $main-color;
    position: absolute;
    bottom: 24px;
    left: 24px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media screen and (min-width: 1236px) {
    flex-direction: row;
    gap: 64px;
    flex-wrap: wrap;
    align-items: baseline;
    }
  }

  &__item {
    position: relative;
  }

  &__item:first-child {
    width: 335px;
    height: 335px;

    @media screen and (min-width: 724px) {
      width: 704px;
      height: 632px;
    }

    @media screen and (min-width: 1236px) {
      width: 712px;
      height: 632px;
    }
  }

  &__item:nth-child(2) {
    width: 335px;
    height: 335px;

    @media screen and (min-width: 724px) {
      width: 400px;
      height: 389px;
      
    //   position: relative;
    //   right: 0;
    //   top: 664px;
    }

    @media screen and (min-width: 1236px) {
      width: 440px;
      height: 428px;
    //   right: 32px;
    //   top: 204px;
    }
  }

  &__item:last-child {
    width: 335px;
    height: 335px;

    @media screen and (min-width: 724px) {
      width: 380px;
      height: 352px;
    //   position: relative;
    //   left: 64px;
    //   top: 1085px;
    }

    @media screen and (min-width: 1236px) {
      width: 436px;
      height: 352px;
      margin-left: 340px;
    //   left: 372px;
    //   top: 696px;
    }
  }
}
