@use "../base/var" as *;

.adventures{
    padding-top: 80px;

    @media screen and (min-width:724px) {
      padding-top: 100px;
    }

    @media screen and (min-width:1236px) {
      padding-top: 164px;
    }

    &__wrap{
        display: flex;
    }

    &__name{
        color: $accent-color;
    }

    &__title{
    font-family: "DM Sans";
    font-size: 32px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -1.44px;
    background:  linear-gradient(92deg, #BEC7C2 41.03%, #A1B5BA 90.31%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: $main-color;
    width: 514.0px;
    margin-right: 302px;
    }  

    &__list{
        display: flex;
        gap: 32px;
    }

    &__text{
    color:  #F6F5EF;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.32px;
    width: 183.0px;
    }
}