@use "../base/var" as *;

.adventures{
    padding-top: 80px;

    @media screen and (min-width:724px) {
      padding-top: 100px;
    }

    @media screen and (min-width:1236px) {
      padding-top: 164px;
    }

    &__wrap{
        display: flex;
        flex-wrap: wrap;
        gap: 40px;

        @media screen and (min-width:724px) {
          gap: 32px;
        }
    }

    &__title{
      font-size: 24px;
      font-weight: 500;
      line-height: 1.2;
      letter-spacing: -1.08px;
      color: $main-color;
      width: 100%;

    @media screen and (min-width:724px) {
      width: 514px;
      font-size: 32px;
      letter-spacing: -1.44px;
    }
    }  

    &__span{
      color: $accent-color;
      font-style: italic;
  }

    &__list{
        display: flex;
        gap: 32px;

        @media screen and (min-width:724px) {
          width: 400px;
          margin-left: auto;
        }
    }

    &__text{
    color:  #F6F5EF;
    font-family: "DM Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: -0.28px;
    width: 160.0px;

    @media screen and (min-width:724px) {
      font-size: 16px;
      letter-spacing: -0.32px;
      width: 183px;
    }
    }
}