@use "../base/var" as *;

.catalog{
    padding-bottom: 80px;

    @media screen and (min-width:736px) {
        padding-bottom: 100px;
    }

    @media screen and (min-width:1248px) {
        padding-bottom: 164px;
    }

    
}