@use '../base/var' as *;

.catalog {
  padding-bottom: 80px;

  @media screen and (min-width: 724px) {
    padding-bottom: 100px;
  }

  @media screen and (min-width: 1236px) {
    padding-bottom: 164px;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

    & :nth-child(2):not(.catalog__wrap, .catalog__subtitle, .catalog__elements, .catalog__elems, .catalog__elem, .catalog__element){
      display: none;

      @media screen and (min-width: 724px) {
        display: block;
      }
    }

    & :nth-child(3):not(.catalog__lists, .catalog__elem, .catalog__element){
      display: none;

      @media screen and (min-width: 1236px) {
        display: block;
      }
    }
  }

  &__item {
    background-color: $dark_accent-color;
    padding: 18px 18px 24px;
    border-radius: 24px;
  }

  &__img {
    width: 299px;
    height: 251px;
    margin-bottom: 24px;
  }

  &__wrap{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 32px;
  }

  &__title {
    color: $main-color;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -0.72px;
    text-transform: uppercase;
  }

  &__subtitle {
    color: $main-color;
    opacity: 0.5;
    font-size: 12px;
    font-weight: 400;
    line-height: 118%;
    letter-spacing: 0.36px;
    text-transform: uppercase;
  }

  &__lists{
    display: flex;
    align-items: baseline;
    gap: 32px;
    margin-right: 127px;
  }

  &__items{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
  }

  &__elems{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
  }

  &__text {
    color: $main-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 118%;
    letter-spacing: 0.42px;
    text-transform: uppercase;
  }

  &__desk {
    color: $main-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 118%;
    letter-spacing: 0.42px;
  }

  &__btn{
    padding: 14px;
    border-radius: 60px;
    background-color: transparent;
    border: 1px solid  $main-color;
  }
}
