@use "../base/var" as *;

.choose{
    padding: 40px 0 161px;

    @media screen and (min-width:724px) {
        padding: 64px 0 100px;
    }

    @media screen and (min-width:1236px) {
        padding: 64px 0 164px;
    }

    &__list{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 24px;

        @media screen and (min-width:724px) {
            flex-direction: row;
            flex-wrap: wrap;
            gap: 32px;
            margin-bottom: 83px;
        }

        @media screen and (min-width:1236px) {
            align-items: flex-start;
            margin-bottom: 95px;
        }

        & :first-child{
            width: 335px;
            height: 524px;

            @media screen and (min-width:724px) {
                width: 704px;
                height: 631px;
            }

            @media screen and (min-width:1236px) {
                width: 533px;
                height: 473px;
            }
        }

        & :nth-child(2){
            width: 335px;
            height: 289px;

            @media screen and (min-width:724px) {
                width: 308px;
            }

            @media screen and (min-width:1236px) {
                order: -1;
                margin-top: 253px;
            }
        }

        & :nth-child(3){
            width: 260px;
            height: 244px;
            border-radius: 24px;
            background-image: linear-gradient(0deg,#11131f 0%, #d3d3d3 100%);

            @media screen and (min-width:724px) {
                position: relative;
                top: 200px;
                left: 2px;
            }

            @media screen and (min-width:1236px) {
                transform: translate(-570px, 300px);
            }
        }
    }

    &__wrapper{
        position: absolute;

        @media screen and (min-width:724px) {
            position: static;
        }
    }

    &__wrap{
        position: relative;
        bottom: 100px;

        @media screen and (min-width:724px) {
            bottom: 0;
            margin-left: 32px;
            z-index: 1;
        }

        @media screen and (min-width:1236px) {
            margin-left: 167px;
        }
    }

    &__title{
        width: 310px;
        margin-bottom: 40px;
        color:  $main-color;
        font-size: 36px;
        font-weight: 500;
        line-height: 110%;
        letter-spacing: -1.62px;

        @media screen and (min-width:724px) {
            width: 640px;
            margin-bottom: 64px;
            font-size: 70px;
            letter-spacing: -3.15px;
        }

        @media screen and (min-width:1236px) {
            width: 882px;
            font-size: 100px;
            letter-spacing: -4.5px;
        }
    }

    &__btn{
        padding: 14px 28px;
        border-radius: 60px;
        border: 1px solid  $main-color;
        background-color: transparent;
        color:  $main-color;
        font-size: 14px;
        font-weight: 700;
        line-height: 110%;
        letter-spacing: -0.63px;

        @media screen and (min-width:724px) {
            font-size: 18px;
            letter-spacing: -0.81px;
        }
    }
}