@use "../base/var" as *;

.choose{
    padding: 40px 0 161px;

    @media screen and (min-width:724px) {
        padding: 64px 0 100px;
    }

    @media screen and (min-width:1236px) {
        padding: 64px 0 164px;
    }

    &__list{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 24px;

        @media screen and (min-width:724px) {
            flex-direction: row;
            flex-wrap: wrap;
            gap: 32px;
        }

        @media screen and (min-width:1236px) {
            align-items: flex-start;
        }

        & :first-child{
            width: 335px;
            height: 524px;

            @media screen and (min-width:724px) {
                width: 704px;
                height: 631px;
            }

            @media screen and (min-width:1236px) {
                width: 533px;
                height: 473px;
            }
        }

        & :nth-child(2){
            width: 335px;
            height: 289px;

            @media screen and (min-width:724px) {
                width: 308px;
            }

            @media screen and (min-width:1236px) {
                order: -1;
                margin-top: 253px;
            }
        }

        & :nth-child(3){
            width: 260px;
            height: 244px;
            border-radius: 24px;
            background-image: linear-gradient(0deg,#11131f 0%, #d3d3d3 100%);

            @media screen and (min-width:724px) {
                position: relative;
                top: 200px;
                left: 2px;
            }

            @media screen and (min-width:1236px) {
                transform: translate(-570px, 300px);
            }
        }
    }

    &__wrapper{
        position: absolute;

        @media screen and (min-width:724px) {
            position: static;
        }
    }

    &__wrap{
        position: relative;
        bottom: 150px;

        @media screen and (min-width:724px) {
            bottom: 0;
            margin-left: 32px;
            z-index: 1;
        }

        @media screen and (min-width:1236px) {
            margin-left: 167px;
        }
    }

    &__title{
        width: 310px;
        margin-bottom: 40px;
        color:  $main-color;
        font-size: 36px;
        font-weight: 500;
        line-height: 110%;
        letter-spacing: -1.62px;

        @media screen and (min-width:724px) {
            width: 640px;
            margin-bottom: 64px;
            font-size: 70px;
            letter-spacing: -3.15px;
        }

        @media screen and (min-width:1236px) {
            width: 882px;
            font-size: 100px;
            letter-spacing: -4.5px;
        }

        &::before{
            content: "";
            display: block;
            border-radius: 50%;
            width: 255px;
            height: 255px;
            transform: rotate(-44.916deg);
            background-image: radial-gradient(circle,#e7f9ff 0%, $bg-color 100%);
            background-size: 255px;
            background-repeat: no-repeat;
            background-position: center;
            opacity: 0.7;
            filter: blur(90px);
            position: absolute;
            right: 150px;
            bottom: 0px;

            @media screen and (min-width:724px) {
                width: 399px;
                height: 399px;
                background-size: 399px;
                right: 280px;
                bottom: 30px;
            }
            @media screen and (min-width:1236px) {
                width: 414px;
                height: 414px;
                background-size: 414px;
                right: 0;
                left: 66px;
                bottom: 86px;
            }
        }

        &::after{
            content: "";
            display: block;
            border-radius: 50%;
            width: 195px;
            height: 195px;
            transform: rotate(-44.916deg);
            background-image: radial-gradient(circle,#a6a9b2 0%, $bg-color 100%);
            background-size: 195px;
            background-repeat: no-repeat;
            background-position: center;
            opacity: 0.6;
            filter: blur(90px);
            position: absolute;
            bottom: 66px;
            left: 196px;

            @media screen and (min-width:724px) {
                width: 304px;
                height: 304px;
                background-size: 304px;
                bottom: 110px;
                left: 356px;
            }
            @media screen and (min-width:1236px) {
                width: 316px;
                height: 316px;
                background-size: 316px;
                bottom: 165px;
                left: 534px;
            }
        }
    }

    &__btn{
        padding: 14px 28px;
        border-radius: 60px;
        border: 1px solid  $main-color;
        background-color: transparent;
        color:  $main-color;
        font-size: 14px;
        font-weight: 700;
        line-height: 110%;
        letter-spacing: -0.63px;

        @media screen and (min-width:724px) {
            font-size: 18px;
            letter-spacing: -0.81px;
        }
    }
}