@use "../base/var" as *;

.choose{
    padding: 40px 0 80px;

    @media screen and (min-width:736px) {
        padding: 64px 0 100px;
    }

    @media screen and (min-width:1248px) {
        padding: 64px 0 164px;
    }

    &__list{
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        @media screen and (min-width:736px) {
            flex-direction: row;
            flex-wrap: wrap;
        }

        @media screen and (min-width:1248px) {
            align-items: flex-start;
            padding-right: 365px;
        }

        & :first-child{
            width: 335px;
            height: 524px;

            @media screen and (min-width:736px) {
                width: 704px;
                height: 631px;
            }

            @media screen and (min-width:1248px) {
                width: 533px;
                height: 473px;
            }
        }

        & :nth-child(2){
            width: 335px;
            height: 289px;

            @media screen and (min-width:736px) {
                width: 308px;
                height: 289px;
            }
        }

        & :nth-child(3){
            width: 260px;
            height: 244px;
            background-image: linear-gradient(0deg,#11131f 0%, #d3d3d3 100%);
        }
    }

    &__wrap{
        @media screen and (min-width:736px) {
            margin-left: 32px;
        }

        @media screen and (min-width:1248px) {
            margin-left: 167px;
        }
    }

    &__title{
        width: 310px;
        margin-bottom: 40px;
        color:  #F6F5EF;
        font-size: 36px;
        font-weight: 500;
        line-height: 110%;
        letter-spacing: -1.62px;

        @media screen and (min-width:736px) {
            width: 640px;
            margin-bottom: 64px;
            font-size: 70px;
            letter-spacing: -3.15px;
        }

        @media screen and (min-width:1248px) {
            width: 882px;
            font-size: 100px;
            letter-spacing: -4.5px;
        }
    }

    &__btn{
        padding: 14px 28px;
        border-radius: 60px;
        border: 1px solid  #F6F5EF;
        background-color: transparent;
        color:  #F6F5EF;
        font-size: 14px;
        font-weight: 700;
        line-height: 110%;
        letter-spacing: -0.63px;

        @media screen and (min-width:736px) {
            font-size: 18px;
            letter-spacing: -0.81px;
        }
    }
}