@use "../base/var" as *;

.footer{
    padding-top: 60px;

    @media screen and (min-width:724px) {
        padding-top: 96px;
    }

    &__box{
        border-top: 1px solid rgba(246, 245, 239, 0.20);
    }

    &__title{
    display: flex;
    align-items: center;
    gap: 8px;
    color: $main-color;
    }

    &__icon{
    width: 18px;
    height: 18px;
    fill: $main-color;
    }

    &__list{
    display: flex;
    flex-direction: column;
    gap: 14px;
    }

    &__text{
    color: $main-color;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.8;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    }

    &__cap{
    color: $main-color;
    font-family: "DM Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    text-transform: uppercase;
    margin-top: 40px;
    }

    &__items{
    display: flex;
    gap: 14px;
    }

    &__wrap{
    width: 32px;
    height: 32px;
    stroke-width: 1px;
    stroke: rgba(246, 245, 239, 0.50);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(246, 245, 239, 0.50);
    border-radius: 6px;
    }

    &__img{
    width: 20px;
    height: 27px;
    fill: $main-color;
    }

    &__lists{
        display: flex;
        gap: 14px;
        margin-top: 40px;
        justify-content: center;
    }

    &__liste{
    color: rgba(246, 245, 239, 0.50);
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.36px;
    }

}