@use '../base/var' as *;

.header {
  padding: 24px 0;
  border-bottom: 1px solid $accent-color;

  @media screen and (min-width: 724px) {
    padding: 32px 0;
  }

  &__box {
    display: flex;
    align-items: center;
    justify-content: space-between;

  // @media screen and (min-width: 724px) {
  //   gap: 269px;
  // }

  }

  &__list {
    display: flex;
    gap: 24px;
  }

  &__logosvg {
    width: 16px;
    height: 16px;
    fill: $accent-color;
    margin-right: 8px;

    @media screen and (min-width: 724px) {
      width: 23px;
      height: 23px;
    }
  }


  &__btn{
    background-color: transparent;

    @media screen and (min-width:724px) {
      display: none;
    }
  }


  &__menu{
    width: 24.0px;
    height: 24.0px;
    fill: $main-color;
  }

  &__nav{
    display: none;

      @media screen and (min-width:724px){
          display: block;
      }
    }

  &__link {
    color: $main-color;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.18;
    letter-spacing: 0.42px;

  }

  &__logo {
    color: $main-color;
    align-items: center;
    text-transform: uppercase;
    display: flex;
  }
}

.mobile__icon {
  width: 24px;
  height: 24px;
}
