@use '../base/var' as *;

.header {
  padding: 24px 0;
  border-bottom: 1px solid $accent-color;

  @media screen and (min-width: 724px) {
    padding: 32px 0;
  }

  &__box {
    display: flex;
    align-items: center;
    justify-content: space-between;

  // @media screen and (min-width: 724px) {
  //   gap: 269px;
  // }

  }

  &__list {
    display: flex;
    gap: 24px;
  }

  &__logosvg {
    width: 16px;
    height: 16px;
    fill: $accent-color;
    margin-right: 8px;

    @media screen and (min-width: 724px) {
      width: 23px;
      height: 23px;
    }
  }


  &__btn{
    background-color: transparent;

    @media screen and (min-width:724px) {
      display: none;
    }
  }


  &__menu{
    width: 24.0px;
    height: 24.0px;
    fill: $main-color;
  }

  &__nav{
    display: none;

      @media screen and (min-width:724px){
          display: block;
      }
    }

  &__link {
    color: $main-color;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.18;
    letter-spacing: 0.42px;

  }

  &__logo {
    color: $main-color;
    align-items: center;
    text-transform: uppercase;
    display: flex;
  }
}


.mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $bg-color;
  z-index: 10;

  display: flex;
  flex-direction: column;
  align-items: center; 


  &__box{
    display: flex;
    justify-content: space-between;
    padding: 24px 20px;
    border-bottom: 1px solid $accent-color;
    width: 335.0px;
  }

  &__close{
    width: 20px;
    height: 20px;
    background-color: transparent;
  }


  &__icon {
    width: 12px;
    height: 12px;
    fill: $main-color;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin: 140px auto 0;
  }

  &__link {
    color: $main-color;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
  }

    &__logosvg {
    width: 16px;
    height: 16px;
    fill: $accent-color;
    margin-right: 8px;
    }

    &__logo {
    color: $main-color;
    align-items: center;
    text-transform: uppercase;
    display: flex;
  }
}

  
  .is-hidden{
    pointer-events: none;
    opacity: 0;
  }