@use '../base/var' as *;

.backdrop {
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 3;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  background-color: $bg-color;
  width: 335px;
  height: 396px;
  border-radius: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 73px 24px 55px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 724px) {
    width: 570px;
    height: 522px;
    padding: 97px 64px 64px 64px;
  }

  &__close {
    background-color: transparent;
    position: absolute;
    right: 14px;
    top: 14px;
  }

  &__icon {
    width: 10px;
    height: 10px;
    fill: $main-color;
    background-color: $bg-color;

    @media screen and (min-width: 724px) {
      width: 12px;
      height: 12px;
    }
  }

  &__img {
    width: 215px;
    display: flex;
    justify-content: center;

    @media screen and (min-width: 724px) {
      width: 338px;
    }
  }

  &__tittle {
    color: $main-color;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -1.08px;
    text-align: start;
    margin-top: 34px;

    @media screen and (min-width: 724px) {
      font-size: 32px;
      margin-top: 21px;
    }
  }

  &__text {
    color: $main-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: -0.28px;
    margin-top: 14px;
    text-align: start;

     @media screen and (min-width: 724px) {
      font-size: 16px;
      margin-top: 16px;
    }
  }
}
