@use '../base/var' as *;

.rent {
  background-color: $bg-color;
  padding-bottom: 80px;

  @media screen and (min-width: 736px) {
    padding-bottom: 100px;
  }

  @media screen and (min-width: 1248px) {
    padding-bottom: 164px;
  }

  &__tittle {
    color: $main-color;
    font-size: 60px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: -2.7px;
  }

  &__label {
    color: $main-color;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.72px;
  }

  &__btn {
    display: flex;
    padding: 14px 28px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 60px;
    border: 1px solid $main-color;
  }
}
