@use '../base/var' as *;

.rent {
  background-color: $bg-color;
  padding-bottom: 80px;

  @media screen and (min-width: 724px) {
    padding-bottom: 100px;
  }

  @media screen and (min-width: 1236px) {
    padding-bottom: 164px;
  }

  &__boxis {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 724px) {
      flex-direction: row;
      gap: 64px;
    }

    @media screen and (min-width: 1236px) {
      gap: 188px;
    }
  }

  &__boxone {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media screen and (min-width: 724px) {
      gap: 42px;
    }

    @media screen and (min-width: 1236px) {
      gap: 73px;
      margin-left: 154px;
    }
  }

  &__boxtwo {
    margin-top: 40px;

    @media screen and (min-width: 724px) {
      margin-top: 0px;
    }
  }

  &__tittle {
    color: $main-color;
    font-size: 36px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: -2.7px;
    width: 271px;

    @media screen and (min-width: 724px) {
      width: 271px;
      height: 132px;
      font-size: 60px;
    }

    @media screen and (min-width: 724px) {
      width: 282px;
    }
  }

  &__img {
    width: 335px;
    height: 243px;

    @media screen and (min-width: 724px) {
      width: 271px;
      height: 187px;
    }

    @media screen and (min-width: 1236px) {
      width: 282px;
      height: 191px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 28px;
  }

  &__label {
    color: $main-color;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.72px;
  }

  &__input {
    border: none;
    background-color: transparent;
    border-bottom: 1px solid $main-color;
    width: 335px;

    @media screen and (min-width: 724px) {
      width: 364px;
    }

    @media screen and (min-width: 1236px) {
      width: 443px;
    }
  }

  &__textarea {
    resize: none;
    height: 58px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid $main-color;
    width: 335px;

    @media screen and (min-width: 724px) {
      width: 364px;
    }

    @media screen and (min-width: 1236px) {
      width: 443px;
    }
  }

  &__btn {
    display: flex;
    padding: 14px 28px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 60px;
    border: 1px solid $main-color;
    background-color: transparent;
    color: $main-color;
    margin-top: 24px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: -0.81px;

    @media screen and (min-width: 724px) {
      margin-top: 32px;
      font-size: 18px;
    }

    @media screen and (min-width: 1236px) {
      margin-top: 64px;
    }
  }

  &__icon {
    transform: rotate(180deg);
    fill: $main-color;
    width: 18px;
    height: 8.7px;
  }
}
