@use '../base/var' as *;

.reviews {
  @media screen and (min-width: 724px) {
  }

  @media screen and (min-width: 1236px) {
  }

  &__place {
    @media screen and (min-width: 724px) {
      justify-content: space-between;
      display: flex;
      flex-direction: column;
    }

    @media screen and (min-width: 1236px) {
      flex-direction: row;
    }
  }

  &__title {
    font-size: 32px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -1.44px;
    color: $main-color;
    width: 100%;

    @media screen and (min-width:724px) {
      width: 497.0px;
    }
  }

  &__span{
    color: $accent-color;
  }

  &__text {
        color:  #F6F5EF;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.4;
        letter-spacing: -0.28px;
        width: 335px;
        margin-top: 24px;

    @media screen and (min-width:724px) {
        color:  #F6F5EF;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.40;
        letter-spacing: -0.32px;
        width: 273.0px;
        margin-left: auto;
        margin-top: 32px;
    }

    @media screen and (min-width:1236px) {
      margin-top: 0;
    }
  }

  &__list {
    display: flex;
    margin-top: 64px;
    // flex-wrap: wrap;

    @media screen and (min-width:724px) {
        gap: 16px;
    }

    @media screen and (min-width:1236px) {
        gap: 32px;
    }
  }

  &__item {
    display: flex;
    padding: 24px 14px;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    border-radius: 24px;
    background: #1f212d;

    @media screen and (min-width:724px) {
        padding: 24px 32px;
    }

    @media screen and (min-width:1236px) {
        padding: 32px;
    }
  }

  &__item:nth-child(3) {
    display: none;
    @media screen and (min-width: 1236px) {
      display: flex;
    }
  }

  &__item:nth-child(2) {
    display: none;
    @media screen and (min-width: 724px) {
      display: flex;
    }
  }

  &__person {
    width: 56px;
    height: 56px;
    display: flex;
    align-items: flex-start;
    gap: 8px;
    border-radius: 72px;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
    margin-bottom: 24px;
  }

  &__name {
    color: $main-color;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: -0.81px;
  }

  &__describe {
    align-self: stretch;
    color: rgba(246, 245, 239, 0.5);
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: -0.32px;

    @media screen and (min-width:724px) {
        font-size: 16px;
    }

  }
}

.scroll {
  fill: #93abae;
  width: 68px;
  height: 68px;
  background-color: $accent-color;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 7px;
  margin-left: auto;
  margin-top: 64px;
  // margin-bottom: 32px;
  padding: 19px 26px;

  &__icon {
    fill: #f6f5ef;
  }
}
