.container {
    max-width: 1236px;
    padding: 0 10px;
    // outline: 1px solid red;
    margin-left: auto;
    margin-right: auto;
    
    @media screen and (min-width:355px) {
        width: 355px;
    }

    @media screen and (min-width:724px) {
        width: 724px;
    }

    @media screen and (min-width:1236px) {
        width: 1236px;
    }
}