@use "./base/reset";
@use "./base/var";
@use "./base/common";
@use "./base/container";
@use "./sections/header";
@use "./sections/hero";
@use "./sections/adventures";
@use "./sections/choose";
@use "./sections/catalog";
@use "./sections/activities";
@use "./sections/rent";
@use "./sections/reviews";
@use "./sections/footer";
@use "./sections/modal";