ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

button {
  border: none;
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
}

address {
  font-style: normal;
}

input,
textarea {
  display: block;
}

input,
textarea:focus-visible {
  outline: none;
  border: none;
  box-shadow: none;
}

body {
  background-color: #11131F;
  font-family: DM Sans;
}

.container {
  max-width: 1236px;
  padding: 0 10px;
  outline: 1px solid red;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 355px) {
  .container {
    width: 355px;
  }
}
@media screen and (min-width: 724px) {
  .container {
    width: 724px;
  }
}
@media screen and (min-width: 1236px) {
  .container {
    width: 1236px;
  }
}

.header {
  padding: 24px 0;
  border-bottom: 1px solid rgba(246, 245, 239, 0.5176470588);
}
@media screen and (min-width: 724px) {
  .header {
    padding: 32px 0;
  }
}
.header__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__list {
  display: flex;
  gap: 24px;
}
.header__logosvg {
  width: 16px;
  height: 16px;
  fill: #93ABAE;
  margin-right: 8px;
}
@media screen and (min-width: 724px) {
  .header__logosvg {
    width: 23px;
    height: 23px;
  }
}
.header__btn {
  background-color: transparent;
}
@media screen and (min-width: 724px) {
  .header__btn {
    display: none;
  }
}
.header__menu {
  width: 24px;
  height: 24px;
  fill: #F6F5EF;
}
.header__nav {
  display: none;
}
@media screen and (min-width: 724px) {
  .header__nav {
    display: block;
  }
}
.header__link {
  color: #F6F5EF;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: 0.42px;
  transition: color 250ms ease;
}
.header__link:hover {
  color: #93ABAE;
}
.header__logo {
  color: #F6F5EF;
  align-items: center;
  text-transform: uppercase;
  display: flex;
}
.header__logo:hover {
  color: #93ABAE;
}

.mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #11131F;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mobile__box {
  display: flex;
  justify-content: space-between;
  padding: 24px 20px;
  border-bottom: 1px solid #93ABAE;
  width: 335px;
}
.mobile__close {
  width: 20px;
  height: 20px;
  background-color: transparent;
}
.mobile__icon {
  width: 12px;
  height: 12px;
  fill: #F6F5EF;
}
.mobile__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin: 140px auto 0;
}
.mobile__link {
  color: #F6F5EF;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.mobile__logosvg {
  width: 16px;
  height: 16px;
  fill: #93ABAE;
  margin-right: 8px;
}
.mobile__logo {
  color: #F6F5EF;
  align-items: center;
  text-transform: uppercase;
  display: flex;
}
.mobile__logo:hover {
  color: #93ABAE;
}

.is-hidden {
  pointer-events: none;
  opacity: 0;
}

.hero {
  margin-top: 40px;
  background-image: linear-gradient();
}
@media screen and (min-width: 724px) {
  .hero {
    margin-top: 64px;
  }
}
.hero__box {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1236px) {
  .hero__box {
    flex-direction: row-reverse;
    display: flex;
    justify-content: space-between;
  }
}
.hero__list {
  margin-top: 24px;
  display: flex;
  gap: 8px;
  margin-bottom: 40px;
}
@media screen and (min-width: 724px) {
  .hero__list {
    gap: 11px;
  }
}
.hero__btn {
  padding: 14px 28px;
  background-color: #11131F;
  color: #F6F5EF;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1;
  align-items: center;
  justify-content: center;
  border-radius: 60px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 60px;
  border: 1px solid #F6F5EF;
  transition: background-color 250ms ease, border 250ms ease;
}
.hero__btn:hover {
  background-color: #93ABAE;
  border: 1px solid #93ABAE;
}
.hero__collagebox {
  width: 335px;
  height: 427px;
  padding: 24px;
  position: relative;
}
@media screen and (min-width: 724px) {
  .hero__collagebox {
    margin-top: 64px;
    width: 426px;
    height: 598px;
    padding: 32px;
  }
}
@media screen and (min-width: 1236px) {
  .hero__collagebox {
    margin-top: 24px;
  }
}
.hero__collagebox::before {
  content: "";
  display: block;
  border-radius: 50%;
  width: 255px;
  height: 255px;
  transform: rotate(-44.916deg);
  background-image: radial-gradient(circle, #e7f9ff 0%, #11131F 100%);
  background-size: 255px;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.7;
  filter: blur(90px);
  position: absolute;
  right: 150px;
  bottom: 0px;
  z-index: -1;
}
@media screen and (min-width: 724px) {
  .hero__collagebox::before {
    width: 399px;
    height: 399px;
    background-size: 399px;
    right: 280px;
    bottom: 30px;
  }
}
@media screen and (min-width: 1236px) {
  .hero__collagebox::before {
    width: 414px;
    height: 414px;
    background-size: 414px;
    right: 0;
    left: 66px;
    bottom: 86px;
  }
}
.hero__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.hero__clientlist {
  display: flex;
  position: relative;
  width: 135px;
  height: 50px;
  z-index: 2;
}
.hero__clientitem:nth-child(1) .hero__clientimg {
  position: absolute;
  left: 0;
  z-index: 5;
}
.hero__clientitem:nth-child(2) .hero__clientimg {
  position: absolute;
  left: 42px;
  z-index: 4;
}
.hero__clientitem:nth-child(3) .hero__clientimg {
  position: absolute;
  left: 86px;
  z-index: 3;
}
.hero__clientimg {
  width: 48px;
  border-radius: 50%;
  border: 2px solid #93ABAE;
}
@media screen and (min-width: 724px) {
  .hero__clientimg {
    width: 56px;
    height: 56px;
  }
}
.hero__caption {
  z-index: 2;
  position: absolute;
  color: #11131F;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.56px;
  text-transform: uppercase;
  margin-top: 11px;
}
.hero__manimg {
  width: 133px;
  height: 133px;
  z-index: 2;
  position: absolute;
  top: 35px;
  right: -12px;
}
@media screen and (min-width: 724px) {
  .hero__manimg {
    width: 233px;
    height: 233px;
    right: -146px;
  }
}
.hero__yachtimg {
  width: 287px;
  height: 167px;
  position: absolute;
  z-index: 2;
  top: 152px;
}
@media screen and (min-width: 724px) {
  .hero__yachtimg {
    width: 378px;
    height: 221px;
    top: 225px;
  }
}
.hero__captionbox {
  display: flex;
  z-index: 2;
  position: absolute;
  bottom: 48px;
  gap: 14px;
  align-items: center;
}
@media screen and (min-width: 724px) {
  .hero__captionbox {
    width: 362px;
    height: 66px;
    bottom: 64px;
  }
}
.hero__accent {
  color: #11131F;
  font-size: 48px;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: -2.16px;
  text-transform: uppercase;
}
@media screen and (min-width: 724px) {
  .hero__accent {
    font-size: 60px;
    letter-spacing: -2.7px;
  }
}
.hero__text {
  color: #11131F;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -0.63px;
}
@media screen and (min-width: 724px) {
  .hero__text {
    font-size: 18px;
    letter-spacing: -0.81px;
  }
}
.hero__textbox {
  margin-top: 68px;
}
.hero__title {
  font-size: 36px;
  color: #F6F5EF;
  font-weight: 500;
  margin-bottom: 14px;
  line-height: 1.1;
  letter-spacing: -2.7px;
}
@media screen and (min-width: 724px) {
  .hero__title {
    font-size: 60px;
    width: 698px;
  }
}
@media screen and (min-width: 1236px) {
  .hero__title {
    font-size: 60px;
    width: 554px;
  }
}
.hero__span {
  color: #93ABAE;
  font-style: italic;
}
.hero__subtitle {
  font-size: 14px;
  font-weight: 400;
  color: #F6F5EF;
  line-height: 1.4;
  letter-spacing: -0.28px;
  margin-bottom: 24px;
}
@media screen and (min-width: 724px) {
  .hero__subtitle {
    font-size: 16px;
    width: 539px;
    letter-spacing: -0.32px;
    margin-bottom: 32px;
  }
}

.adventures {
  padding-top: 80px;
}
@media screen and (min-width: 724px) {
  .adventures {
    padding-top: 100px;
  }
}
@media screen and (min-width: 1236px) {
  .adventures {
    padding-top: 164px;
  }
}
.adventures__wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
@media screen and (min-width: 724px) {
  .adventures__wrap {
    gap: 32px;
  }
}
.adventures__title {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -1.08px;
  color: #F6F5EF;
  width: 100%;
}
@media screen and (min-width: 724px) {
  .adventures__title {
    width: 514px;
    font-size: 32px;
    letter-spacing: -1.44px;
  }
}
.adventures__span {
  color: #93ABAE;
  font-style: italic;
}
.adventures__list {
  display: flex;
  gap: 32px;
}
@media screen and (min-width: 724px) {
  .adventures__list {
    width: 400px;
    margin-left: auto;
  }
}
.adventures__text {
  color: #F6F5EF;
  font-family: "DM Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -0.28px;
  width: 160px;
}
@media screen and (min-width: 724px) {
  .adventures__text {
    font-size: 16px;
    letter-spacing: -0.32px;
    width: 183px;
  }
}

.choose {
  padding: 40px 0 80px;
}
@media screen and (min-width: 724px) {
  .choose {
    padding: 64px 0 100px;
  }
}
@media screen and (min-width: 1236px) {
  .choose {
    padding: 64px 0 164px;
  }
}
.choose__box {
  position: relative;
  padding-bottom: 60px;
}
@media screen and (min-width: 724px) {
  .choose__box {
    position: static;
  }
}
.choose__list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 24px;
}
@media screen and (min-width: 724px) {
  .choose__list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }
}
@media screen and (min-width: 1236px) {
  .choose__list {
    align-items: flex-start;
  }
}
.choose__list :first-child {
  width: 335px;
  height: 524px;
}
@media screen and (min-width: 724px) {
  .choose__list :first-child {
    width: 704px;
    height: 631px;
  }
}
@media screen and (min-width: 1236px) {
  .choose__list :first-child {
    width: 533px;
    height: 473px;
  }
}
.choose__list :nth-child(2) {
  width: 335px;
  height: 289px;
}
@media screen and (min-width: 724px) {
  .choose__list :nth-child(2) {
    width: 308px;
  }
}
@media screen and (min-width: 1236px) {
  .choose__list :nth-child(2) {
    order: -1;
    margin-top: 253px;
  }
}
.choose__list :nth-child(3) {
  width: 260px;
  height: 244px;
  border-radius: 24px;
  background-image: linear-gradient(0deg, #11131f 0%, #d3d3d3 100%);
}
@media screen and (min-width: 724px) {
  .choose__list :nth-child(3) {
    position: relative;
    top: 200px;
    left: 2px;
    z-index: -1;
  }
}
@media screen and (min-width: 1236px) {
  .choose__list :nth-child(3) {
    transform: translate(-570px, 300px);
  }
}
.choose__wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}
@media screen and (min-width: 724px) {
  .choose__wrap {
    position: static;
    margin-top: 40px;
  }
}
.choose__title {
  width: 310px;
  margin-bottom: 40px;
  color: #F6F5EF;
  font-size: 36px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -1.62px;
}
@media screen and (min-width: 724px) {
  .choose__title {
    width: 640px;
    margin-bottom: 64px;
    font-size: 70px;
    letter-spacing: -3.15px;
  }
}
@media screen and (min-width: 1236px) {
  .choose__title {
    width: 882px;
    font-size: 100px;
    letter-spacing: -4.5px;
  }
}
.choose__title::before {
  content: "";
  display: block;
  border-radius: 50%;
  width: 255px;
  height: 255px;
  transform: rotate(-44.916deg);
  background-image: radial-gradient(circle, #e7f9ff 0%, #11131F 100%);
  background-size: 255px;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.7;
  filter: blur(90px);
  position: absolute;
  right: 150px;
  bottom: 0px;
  z-index: -1;
}
@media screen and (min-width: 724px) {
  .choose__title::before {
    width: 399px;
    height: 399px;
    background-size: 399px;
    right: 280px;
    bottom: 30px;
  }
}
@media screen and (min-width: 1236px) {
  .choose__title::before {
    width: 414px;
    height: 414px;
    background-size: 414px;
    right: 0;
    left: 66px;
    bottom: 86px;
  }
}
.choose__title::after {
  content: "";
  display: block;
  border-radius: 50%;
  width: 195px;
  height: 195px;
  transform: rotate(-44.916deg);
  background-image: radial-gradient(circle, #a6a9b2 0%, #11131F 100%);
  background-size: 195px;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.6;
  filter: blur(90px);
  position: absolute;
  bottom: 66px;
  left: 196px;
  z-index: -1;
}
@media screen and (min-width: 724px) {
  .choose__title::after {
    width: 304px;
    height: 304px;
    background-size: 304px;
    bottom: 110px;
    left: 356px;
  }
}
@media screen and (min-width: 1236px) {
  .choose__title::after {
    width: 316px;
    height: 316px;
    background-size: 316px;
    bottom: 165px;
    left: 534px;
  }
}
.choose__link {
  padding: 14px 28px;
  border-radius: 60px;
  border: 1px solid #F6F5EF;
  background-color: transparent;
  color: #F6F5EF;
  font-size: 14px;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: -0.63px;
  transition: all 450ms;
}
@media screen and (min-width: 724px) {
  .choose__link {
    font-size: 18px;
    letter-spacing: -0.81px;
  }
}
.choose__link:is(:hover, :focus) {
  border: 1px solid #BEC7C2;
  color: #BEC7C2;
}

.catalog {
  padding-bottom: 80px;
}
@media screen and (min-width: 724px) {
  .catalog {
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1236px) {
  .catalog {
    padding-bottom: 164px;
  }
}
.catalog__box {
  position: relative;
}
.catalog__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-bottom: 24px;
}
@media screen and (min-width: 724px) {
  .catalog__list {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1236px) {
  .catalog__list {
    margin-bottom: 0;
  }
}
.catalog__list :nth-child(2):not(.catalog__wrap, .catalog__subtitle, .catalog__elements, .catalog__elems, .catalog__elem, .catalog__element) {
  display: none;
}
@media screen and (min-width: 724px) {
  .catalog__list :nth-child(2):not(.catalog__wrap, .catalog__subtitle, .catalog__elements, .catalog__elems, .catalog__elem, .catalog__element) {
    display: block;
  }
}
.catalog__list :nth-child(3):not(.catalog__lists, .catalog__elem, .catalog__element) {
  display: none;
}
@media screen and (min-width: 1236px) {
  .catalog__list :nth-child(3):not(.catalog__lists, .catalog__elem, .catalog__element) {
    display: block;
  }
}
.catalog__item {
  background-color: #1F212D;
  padding: 18px 18px 24px;
  border-radius: 24px;
}
@media screen and (min-width: 724px) {
  .catalog__item {
    padding: 16px 16px 32px;
  }
}
.catalog__img {
  width: 299px;
  height: 251px;
  margin-bottom: 24px;
}
@media screen and (min-width: 724px) {
  .catalog__img {
    width: 312px;
    height: 268px;
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1236px) {
  .catalog__img {
    width: 322px;
    height: 268px;
  }
}
.catalog__wrap {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin: 0 0 24px 6px;
}
@media screen and (min-width: 724px) {
  .catalog__wrap {
    margin: 0 0 32px 16px;
  }
}
.catalog__title {
  color: #F6F5EF;
  font-size: 16px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.72px;
  text-transform: uppercase;
}
.catalog__subtitle {
  color: #F6F5EF;
  opacity: 0.5;
  font-size: 12px;
  font-weight: 400;
  line-height: 118%;
  letter-spacing: 0.36px;
  text-transform: uppercase;
}
.catalog__lists {
  display: flex;
  align-items: baseline;
  gap: 32px;
  margin-left: 6px;
}
@media screen and (min-width: 724px) {
  .catalog__lists {
    margin-left: 16px;
  }
}
.catalog__items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
}
.catalog__elems {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
}
.catalog__text {
  color: #F6F5EF;
  font-size: 14px;
  font-weight: 400;
  line-height: 118%;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.catalog__desk {
  color: #F6F5EF;
  font-size: 14px;
  font-weight: 400;
  line-height: 118%;
  letter-spacing: 0.42px;
}
.catalog__listbtn {
  display: flex;
  align-items: center;
  justify-self: center;
  gap: 14px;
}
@media screen and (min-width: 1236px) {
  .catalog__itembtn:first-child {
    position: absolute;
    left: 12px;
    bottom: 225px;
  }
}
@media screen and (min-width: 1236px) {
  .catalog__itembtn:nth-child(2) {
    position: absolute;
    right: 12px;
    bottom: 225px;
  }
}
.catalog__btn {
  width: 46px;
  height: 36px;
  padding: 14px;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid #F6F5EF;
  transition: all 450ms;
}
.catalog__btn:hover, .catalog__btn:focus {
  border: 1px solid #BEC7C2;
}
.catalog__btn:hover .catalog__icon, .catalog__btn:focus .catalog__icon {
  fill: #BEC7C2;
}
.catalog__btn:hover .catalog__icons, .catalog__btn:focus .catalog__icons {
  fill: #BEC7C2;
}
.catalog__btn:first-child {
  fill: #F6F5EF;
  transition: all 450ms;
}
.catalog__icons {
  transform: rotate(180deg);
}

.activities {
  padding-bottom: 80px;
}
@media screen and (min-width: 724px) {
  .activities {
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1236px) {
  .activities {
    padding-bottom: 164px;
  }
}
.activities__btn {
  color: #11131F;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -0.81px;
  display: inline-flex;
  padding: 14px 28px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 60px;
  background: #F6F5EF;
  position: absolute;
  bottom: 24px;
  left: 24px;
}
.activities__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media screen and (min-width: 724px) {
  .activities__list {
    gap: 32px;
  }
}
@media screen and (min-width: 1236px) {
  .activities__list {
    flex-direction: row;
    gap: 64px;
    flex-wrap: wrap;
    align-items: baseline;
  }
}
.activities__item {
  position: relative;
}
.activities__item:first-child {
  width: 335px;
  height: 335px;
  position: relative;
}
@media screen and (min-width: 724px) {
  .activities__item:first-child {
    width: 704px;
    height: 632px;
  }
}
@media screen and (min-width: 1236px) {
  .activities__item:first-child {
    width: 712px;
    height: 632px;
  }
}
.activities__item:first-child::before {
  content: "";
  display: block;
  border-radius: 50%;
  width: 255px;
  height: 255px;
  transform: rotate(-44.916deg);
  background-image: radial-gradient(circle, #e7f9ff 0%, #11131F 100%);
  background-size: 255px;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.7;
  filter: blur(90px);
  position: absolute;
  left: -100px;
  bottom: -80px;
  z-index: -1;
}
@media screen and (min-width: 724px) {
  .activities__item:first-child::before {
    width: 399px;
    height: 399px;
    background-size: 399px;
    left: -150px;
    bottom: -80px;
  }
}
@media screen and (min-width: 1236px) {
  .activities__item:first-child::before {
    width: 414px;
    height: 414px;
    background-size: 414px;
  }
}
.activities__item:nth-child(2) {
  width: 335px;
  height: 335px;
}
@media screen and (min-width: 724px) {
  .activities__item:nth-child(2) {
    width: 400px;
    height: 389px;
    margin-left: 304px;
  }
}
@media screen and (min-width: 1236px) {
  .activities__item:nth-child(2) {
    width: 440px;
    height: 428px;
    margin-left: 0px;
  }
}
.activities__item:last-child {
  width: 335px;
  height: 335px;
}
@media screen and (min-width: 724px) {
  .activities__item:last-child {
    width: 380px;
    height: 352px;
  }
}
@media screen and (min-width: 1236px) {
  .activities__item:last-child {
    width: 436px;
    height: 352px;
    margin-left: 340px;
  }
}

.rent {
  background-color: #11131F;
  padding-bottom: 80px;
}
@media screen and (min-width: 724px) {
  .rent {
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1236px) {
  .rent {
    padding-bottom: 164px;
  }
}
.rent__boxis {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 724px) {
  .rent__boxis {
    flex-direction: row;
    gap: 64px;
  }
}
@media screen and (min-width: 1236px) {
  .rent__boxis {
    gap: 188px;
  }
}
.rent__boxone {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media screen and (min-width: 724px) {
  .rent__boxone {
    gap: 42px;
  }
}
@media screen and (min-width: 1236px) {
  .rent__boxone {
    gap: 73px;
    margin-left: 154px;
  }
}
.rent__boxtwo {
  margin-top: 40px;
}
@media screen and (min-width: 724px) {
  .rent__boxtwo {
    margin-top: 0px;
  }
}
.rent__tittle {
  color: #F6F5EF;
  font-size: 36px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -2.7px;
  width: 271px;
}
@media screen and (min-width: 724px) {
  .rent__tittle {
    width: 271px;
    height: 132px;
    font-size: 60px;
  }
}
@media screen and (min-width: 724px) {
  .rent__tittle {
    width: 282px;
  }
}
.rent__img {
  width: 335px;
  height: 243px;
}
@media screen and (min-width: 724px) {
  .rent__img {
    width: 271px;
    height: 187px;
  }
}
@media screen and (min-width: 1236px) {
  .rent__img {
    width: 282px;
    height: 191px;
  }
}
.rent__form {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.rent__label {
  color: #F6F5EF;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.72px;
}
.rent__input {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #F6F5EF;
  width: 335px;
}
@media screen and (min-width: 724px) {
  .rent__input {
    width: 364px;
  }
}
@media screen and (min-width: 1236px) {
  .rent__input {
    width: 443px;
  }
}
.rent__textarea {
  resize: none;
  height: 58px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #F6F5EF;
  width: 335px;
}
@media screen and (min-width: 724px) {
  .rent__textarea {
    width: 364px;
  }
}
@media screen and (min-width: 1236px) {
  .rent__textarea {
    width: 443px;
  }
}
.rent__btn {
  display: flex;
  padding: 14px 28px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 60px;
  border: 1px solid #F6F5EF;
  background-color: transparent;
  color: #F6F5EF;
  margin-top: 24px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -0.81px;
}
.rent__btn:hover {
  background-color: #93ABAE;
  border: 1px solid #93ABAE;
}
@media screen and (min-width: 724px) {
  .rent__btn {
    margin-top: 32px;
    font-size: 18px;
  }
}
@media screen and (min-width: 1236px) {
  .rent__btn {
    margin-top: 64px;
  }
}
.rent__icon {
  transform: rotate(180deg);
  fill: #F6F5EF;
  width: 18px;
  height: 8.7px;
}

@media screen and (min-width: 724px) {
  .reviews__place {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1236px) {
  .reviews__place {
    flex-direction: row;
  }
}
.reviews__title {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -1.44px;
  color: #F6F5EF;
  width: 100%;
}
@media screen and (min-width: 724px) {
  .reviews__title {
    width: 497px;
  }
}
.reviews__span {
  color: #93ABAE;
}
.reviews__text {
  color: #F6F5EF;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -0.28px;
  width: 335px;
  margin-top: 24px;
}
@media screen and (min-width: 724px) {
  .reviews__text {
    color: #F6F5EF;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: -0.32px;
    width: 273px;
    margin-left: auto;
    margin-top: 32px;
  }
}
@media screen and (min-width: 1236px) {
  .reviews__text {
    margin-top: 0;
  }
}
.reviews__list {
  display: flex;
  margin-top: 64px;
}
@media screen and (min-width: 724px) {
  .reviews__list {
    gap: 16px;
  }
}
@media screen and (min-width: 1236px) {
  .reviews__list {
    gap: 32px;
  }
}
.reviews__item {
  display: flex;
  padding: 24px 14px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  border-radius: 24px;
  background: #1f212d;
}
@media screen and (min-width: 724px) {
  .reviews__item {
    padding: 24px 32px;
  }
}
@media screen and (min-width: 1236px) {
  .reviews__item {
    padding: 32px;
  }
}
.reviews__item:nth-child(3) {
  display: none;
}
@media screen and (min-width: 1236px) {
  .reviews__item:nth-child(3) {
    display: flex;
  }
}
.reviews__item:nth-child(2) {
  display: none;
}
@media screen and (min-width: 724px) {
  .reviews__item:nth-child(2) {
    display: flex;
  }
}
.reviews__person {
  width: 56px;
  height: 56px;
  display: flex;
  align-items: flex-start;
  gap: 8px;
  border-radius: 72px;
  background: url(<path-to-image>) lightgray 50%/cover no-repeat;
  margin-bottom: 24px;
}
.reviews__name {
  color: #F6F5EF;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -0.81px;
}
.reviews__describe {
  align-self: stretch;
  color: rgba(246, 245, 239, 0.5);
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -0.32px;
}
@media screen and (min-width: 724px) {
  .reviews__describe {
    font-size: 16px;
  }
}

.scroll {
  fill: #93abae;
  width: 68px;
  height: 68px;
  background-color: #93ABAE;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 7px;
  margin-left: auto;
  margin-top: 64px;
  padding: 19px 26px;
}
.scroll__icon {
  fill: #f6f5ef;
}

.footer {
  padding-top: 60px;
}
@media screen and (min-width: 724px) {
  .footer {
    padding-top: 96px;
  }
}
.footer__box {
  border-top: 1px solid rgba(246, 245, 239, 0.2);
}
@media screen and (min-width: 724px) {
  .footer__boxes {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
  }
}
.footer__title {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #F6F5EF;
}
.footer__title:hover {
  color: #93ABAE;
}
.footer__title:hover .footer__icon {
  fill: #93ABAE;
}
.footer__icon {
  width: 18px;
  height: 18px;
  fill: #F6F5EF;
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: start;
}
@media screen and (min-width: 724px) {
  .footer__list {
    align-items: center;
  }
}
@media screen and (min-width: 1248px) {
  .footer__list {
    margin: 0px 0px;
    flex-direction: row;
  }
}
.footer__text {
  color: #F6F5EF;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.8;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.footer__cap {
  color: #F6F5EF;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
  margin-top: 40px;
}
@media screen and (min-width: 724px) {
  .footer__cap {
    margin-top: 0;
  }
}
@media screen and (min-width: 1248px) {
  .footer__cap {
    margin-top: 40px;
  }
}
.footer__items {
  display: flex;
  gap: 14px;
}
.footer__wrap {
  width: 32px;
  height: 32px;
  stroke-width: 1px;
  stroke: rgba(246, 245, 239, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(246, 245, 239, 0.5);
  border-radius: 6px;
}
.footer__wrap:hover {
  background-color: #93ABAE;
  border: 1px solid #93ABAE;
}
.footer__img {
  width: 20px;
  height: 27px;
  fill: #F6F5EF;
}
.footer__lists {
  display: flex;
  gap: 14px;
  margin-top: 40px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.footer__desk {
  color: rgba(246, 245, 239, 0.5);
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.36px;
}
@media screen and (min-width: 724px) {
  .footer__desk {
    font-size: 14px;
    letter-spacing: 0.42px;
  }
}

.backdrop {
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 3;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  background-color: #11131F;
  width: 335px;
  height: 396px;
  border-radius: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 73px 24px 55px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 724px) {
  .modal {
    width: 570px;
    height: 522px;
    padding: 97px 64px 64px 64px;
  }
}
.modal__close {
  background-color: transparent;
  position: absolute;
  right: 14px;
  top: 14px;
}
.modal__icon {
  width: 10px;
  height: 10px;
  fill: #F6F5EF;
  background-color: #11131F;
}
@media screen and (min-width: 724px) {
  .modal__icon {
    width: 12px;
    height: 12px;
  }
}
.modal__img {
  width: 215px;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 724px) {
  .modal__img {
    width: 338px;
  }
}
.modal__tittle {
  color: #F6F5EF;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -1.08px;
  text-align: start;
  margin-top: 34px;
}
@media screen and (min-width: 724px) {
  .modal__tittle {
    font-size: 32px;
    margin-top: 21px;
  }
}
.modal__text {
  color: #F6F5EF;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -0.28px;
  margin-top: 14px;
  text-align: start;
}
@media screen and (min-width: 724px) {
  .modal__text {
    font-size: 16px;
    margin-top: 16px;
  }
}/*# sourceMappingURL=main.css.map */