ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

button {
  border: none;
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
}

address {
  font-style: normal;
}

input,
textarea {
  display: block;
}

input,
textarea:focus-visible {
  outline: none;
  border: none;
  box-shadow: none;
}

.container {
  max-width: 1236px;
  margin-inline: auto;
  padding: 0 10px;
  outline: 1px solid red;
}
@media screen and (min-width: 355px) {
  .container {
    width: 355px;
  }
}
@media screen and (min-width: 724px) {
  .container {
    width: 724px;
  }
}
@media screen and (min-width: 1236px) {
  .container {
    width: 1236px;
  }
}

.choose {
  padding: 40px 0 80px;
}
@media screen and (min-width: 736px) {
  .choose {
    padding: 64px 0 100px;
  }
}
@media screen and (min-width: 1248px) {
  .choose {
    padding: 64px 0 164px;
  }
}
.choose__list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media screen and (min-width: 736px) {
  .choose__list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1248px) {
  .choose__list {
    align-items: flex-start;
    padding-right: 365px;
  }
}
.choose__list :first-child {
  width: 335px;
  height: 524px;
}
@media screen and (min-width: 736px) {
  .choose__list :first-child {
    width: 704px;
    height: 631px;
  }
}
@media screen and (min-width: 1248px) {
  .choose__list :first-child {
    width: 533px;
    height: 473px;
  }
}
.choose__list :nth-child(2) {
  width: 335px;
  height: 289px;
}
@media screen and (min-width: 736px) {
  .choose__list :nth-child(2) {
    width: 308px;
    height: 289px;
  }
}
.choose__list :nth-child(3) {
  width: 260px;
  height: 244px;
  background-image: linear-gradient(0deg, #11131f 0%, #d3d3d3 100%);
}
@media screen and (min-width: 736px) {
  .choose__wrap {
    margin-left: 32px;
  }
}
@media screen and (min-width: 1248px) {
  .choose__wrap {
    margin-left: 167px;
  }
}
.choose__title {
  width: 310px;
  margin-bottom: 40px;
  color: #F6F5EF;
  font-size: 36px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -1.62px;
}
@media screen and (min-width: 736px) {
  .choose__title {
    width: 640px;
    margin-bottom: 64px;
    font-size: 70px;
    letter-spacing: -3.15px;
  }
}
@media screen and (min-width: 1248px) {
  .choose__title {
    width: 882px;
    font-size: 100px;
    letter-spacing: -4.5px;
  }
}
.choose__btn {
  padding: 14px 28px;
  border-radius: 60px;
  border: 1px solid #F6F5EF;
  background-color: transparent;
  color: #F6F5EF;
  font-size: 14px;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: -0.63px;
}
@media screen and (min-width: 736px) {
  .choose__btn {
    font-size: 18px;
    letter-spacing: -0.81px;
  }
}

.catalog {
  padding-bottom: 80px;
}
@media screen and (min-width: 736px) {
  .catalog {
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1248px) {
  .catalog {
    padding-bottom: 164px;
  }
}

.activities {
  background-color: #11131F;
  padding-bottom: 80px;
}
@media screen and (min-width: 736px) {
  .activities {
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1248px) {
  .activities {
    padding-bottom: 164px;
  }
}
.activities__btn {
  color: #11131F;
  font-family: "DM Sans";
  font-size: 18px;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: -0.81px;
  display: inline-flex;
  padding: 14px 28px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 60px;
  background: #F6F5EF;
}
.activities__img:first-child {
  width: 704px;
  height: 632px;
}
.activities__img:nth-child(2) {
  width: 400px;
  height: 389px;
}
.activities__img:last-child {
  width: 380px;
  height: 352px;
}

.rent {
  background-color: #11131F;
  padding-bottom: 80px;
}
@media screen and (min-width: 736px) {
  .rent {
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1248px) {
  .rent {
    padding-bottom: 164px;
  }
}
.rent__tittle {
  color: #F6F5EF;
  font-family: "DM Sans";
  font-size: 60px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -2.7px;
}
.rent__label {
  color: #F6F5EF;
  font-family: "DM Sans";
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.72px;
}
.rent__btn {
  display: flex;
  padding: 14px 28px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 60px;
  border: 1px solid #F6F5EF;
}/*# sourceMappingURL=main.css.map */