<section class="activities">
 <div class="container">
  <ul class="activities__list">
    <li class="activities__item">
      <img src="../img/diving@1x.webp" alt="Diving" class="activities__img" /><button
        class="activities__btn"
        type="button"
      >Diving</button>
    </li>
    <li class="activities__item">
      <img src="../img/fishing@1x.webp" alt="Fishing" class="activities__img" /><button
        class="activities__btn"
        type="button"
      >Fishing</button>
    </li>
    <li class="activities__item">
      <img src="../img/sunbathing@1x.webp" alt="Sunbathing" class="activities__img" /><button
        class="activities__btn"
        type="button"
      >Sunbathing</button>
    </li>
  </ul>
 </div>
</section>
