<section class="activities">
 <div class="container">
  <ul class="activities__list">
    <li class="activities__item">
      <picture>
        <source media="(min-width:1236px)" srcset="./img/desktop/diving-desktop@1x.webp 1x, ./img/desktop/diving-desktop@2x.webp 2x">
        <source media="(min-width:725px)" srcset="./img/tablet/diving-tablet@1x.webp 1x, ./img/tablet/diving-tablet@2x.webp 2x">
        <source media="(max-width:724px)" srcset="./img/mobile/diving-mobile@1x.webp 1x, ./img/mobile/diving-mobile@2x.webp 2x">
      <img src="./img/diving@1x.webp" alt="Diving" class="activities__img" />
      </picture>
      <button
        class="activities__btn"
        type="button"
      >Diving</button>
    </li>
    <li class="activities__item">
      <picture>
        <source media="(min-width:1236px)" srcset="./img/desktop/fishing-desktop@1x.webp 1x, ./img/desktop/fishing-desktop@2x.webp 2x">
        <source media="(min-width:725px)" srcset="./img/tablet/fishing-tablet@1x.webp 1x, ./img/tablet/fishing-tablet@2x.webp 2x">
        <source media="(max-width:724px)" srcset="./img/mobile/fishing-mobile@1x.webp 1x, ./img/mobile/fishing-mobile@2x.webp 2x">
      <img src="./img/fishing@1x.webp" alt="Fishing" class="activities__img" />
      </picture>
      <button
        class="activities__btn"
        type="button"
      >Fishing</button>
    </li>
    <li class="activities__item">
      <picture>
        <source media="(min-width:1236px)" srcset="./img/desktop/sunbathing-desktop@1x.webp 1x, ./img/desktop/sunbathing-desktop@2x.webp 2x">
        <source media="(min-width:725px)" srcset="./img/tablet/sunbathing-tablet@1x.webp 1x, ./img/tablet/sunbathing-tablet@2x.webp 2x">
        <source media="(max-width:724px)" srcset="./img/mobile/sunbathing-mobile@1x.webp 1x, ./img/mobile/sunbathing-mobile@2x.webp 2x">
      <img src="./img/sunbathing@1x.webp" alt="Sunbathing" class="activities__img" />
      </picture>
      <button
        class="activities__btn"
        type="button"
      >Sunbathing</button>
    </li>
  </ul>
 </div>
</section>
