<section class="catalog" id="catalog">
  <div class="container catalog__box">
    <ul class="catalog__list">
      <li class="catalog__item">
        <picture>
          <source media="(min-width:1236px)" srcset="./img/desktop/arrow-desktop@1x.webp 1x, ./img/desktop/arrow-desktop@2x.webp 2x">
          <source media="(min-width:725px)" srcset="./img/tablet/arrow-tablet@1x.webp 1x, ./img/tablet/arrow-tablet@2x.webp 2x">
          <source media="(max-width:724px)" srcset="./img/mobile/arrow-mobile@1x.webp 1x, ./img/mobile/arrow-mobile@2x.webp 2x">
          <img class="catalog__img" src="./img/arrow@1x.webp" alt="white yacht model arrow" />
        </picture>
        <div class="catalog__wrap">
          <h2 class="catalog__title">Arrow</h2>
          <h3 class="catalog__subtitle">luxury yachts</h3>
        </div>
        <ul class="catalog__lists">
          <li class="catalog__elements">
            <ul class="catalog__items">
              <li class="catalog__elem"><p class="catalog__text">lenght</p></li>
              <li class="catalog__elem"><p class="catalog__text">builder</p></li>
              <li class="catalog__elem"><p class="catalog__text">built</p></li>
              <li class="catalog__elem"><p class="catalog__text">guests</p></li>
              <li class="catalog__elem"><p class="catalog__text">price</p></li>
            </ul>
          </li>
          <li class="catalog__elements">
            <ul class="catalog__elems">
              <li class="catalog__element"><p class="catalog__desk">48m(155ft)</p></li>
              <li class="catalog__element"><p class="catalog__desk">Admiral</p></li>
              <li class="catalog__element"><p class="catalog__desk">2021</p></li>
              <li class="catalog__element"><p class="catalog__desk">11 in 5 cabins</p></li>
              <li class="catalog__element"><p class="catalog__desk">€33,500,000</p></li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="catalog__item">
        <picture>
          <source media="(min-width:1236px)" srcset="./img/desktop/benetti-desktop@1x.webp 1x, ./img/desktop/benetti-desktop@2x.webp 2x">
          <source media="(min-width:725px)" srcset="./img/tablet/benetti-tablet@1x.webp 1x, ./img/tablet/benetti-tablet@2x.webp 2x">
          <source media="(max-width:724px)" srcset="./img/mobile/benetti-mobile@1x.webp 1x, ./img/mobile/benetti-mobile@2x.webp 2x">
          <img class="catalog__img" src="./img/benetti@1x.webp" alt="white yacht model Benetti Oasis 40M BO122"/>
        </picture>
        <div class="catalog__wrap">
          <h2 class="catalog__title">Benetti Oasis 40M...</h2>
          <h3 class="catalog__subtitle">luxury yachts</h3>
        </div>
        <ul class="catalog__lists">
          <li class="catalog__elements">
            <ul class="catalog__items">
              <li class="catalog__elem"><p class="catalog__text">lenght</p></li>
              <li class="catalog__elem">
                <p class="catalog__text">shipyard</p>
              </li>
              <li class="catalog__elem"><p class="catalog__text">built</p></li>
              <li class="catalog__elem"><p class="catalog__text">guests</p></li>
              <li class="catalog__elem"><p class="catalog__text">price</p></li>
            </ul>
          </li>
          <li class="catalog__elements">
            <ul class="catalog__elems">
              <li class="catalog__element">
                <p class="catalog__desk">41m (133ft)</p>
              </li>
              <li class="catalog__element">
                <p class="catalog__desk">Benetti</p>
              </li>
              <li class="catalog__element">
                <p class="catalog__desk">2025</p>
              </li>
              <li class="catalog__element">
                <p class="catalog__desk">10 in 5 cabins</p>
              </li>
              <li class="catalog__element">
                <p class="catalog__desk">€23,210,000</p>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="catalog__item">
        <picture>
          <source media="(min-width:1236px)" srcset="./img/desktop/belle-desktop@1x.webp 1x, ./img/desktop/belle-desktop@2x.webp 2x">
          <source media="(min-width:725px)" srcset="./img/tablet/belle-tablet@1x.webp 1x, ./img/tablet/belle-tablet@2x.webp 2x">
          <source media="(max-width:724px)" srcset="./img/mobile/belle-mobile@1x.webp 1x, ./img/mobile/belle-mobile@2x.webp 2x">
          <img class="catalog__img" src="./img/belle@1x.webp" alt="white yacht model Belle Anna"/>
        </picture>
        <div class="catalog__wrap">
          <h2 class="catalog__title">Belle Anna</h2>
          <h3 class="catalog__subtitle">luxury yachts</h3>
        </div>
        <ul class="catalog__lists">
          <li class="catalog__elements">
            <ul class="catalog__items">
              <li class="catalog__elem"><p class="catalog__text">lenght</p></li>
              <li class="catalog__elem"><p class="catalog__text">shipyard</p></li>
              <li class="catalog__elem"><p class="catalog__text">built</p></li>
              <li class="catalog__elem"><p class="catalog__text">guests</p></li>
              <li class="catalog__elem"><p class="catalog__text">price</p></li>
            </ul>
          </li>
          <li class="catalog__elements">
            <ul class="catalog__elems">
              <li class="catalog__element"><p class="catalog__desk">50m(155ft)</p></li>
              <li class="catalog__element"><p class="catalog__desk">ISA</p></li>
              <li class="catalog__element"><p class="catalog__desk">2012</p></li>
              <li class="catalog__element"><p class="catalog__desk">12 in 6 cabins</p></li>
              <li class="catalog__element"><p class="catalog__desk">€21,000,000</p></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="catalog__listbtn">
        <li class="catalog__itembtn">
            <button type="button" class="catalog__btn">
                <svg class="catalog__icon">
                    <use href="./img/symbol-defs.svg#icon-arrow"></use>
                </svg>
            </button>
        </li>
        <li class="catalog__itembtn">
            <button type="button" class="catalog__btn">
                <svg class="catalog__icons">
                    <use href="./img/symbol-defs.svg#icon-arrow"></use>
                </svg>
            </button>
        </li>
    </ul>
  </div>
</section>
