<section class="choose">
  <div class="container">
    <ul class="choose__list">
      <li class="choose__item">
        <img class="choose__img" src="" alt="yacht sofa" />
      </li>
      <li class="choose__item">
        <img class="choose__img" src="" alt="yacht citcken" />
      </li>
      <li class="choose__item">
        <img class="choose__img" src="" alt="yacht view" />
      </li>
    </ul>
    <h2 class="choose__title">
      Choose your dream yacht and sail away into the sunset
    </h2>
    <button type="button" class="choose__btn">Yacht rental</button>
  </div>
</section>
