<section class="choose">
  <div class="container">
    <ul class="choose__list">
      <li class="choose__item">
        <picture>
          <source media="(min-width:1248px)" srcset="../img/desktop/yachtone-desktop@1x.webp 1x, ../img/desktop/yachtone-desktop@2x.webp 2x">
          <source media="(min-width:735px)" srcset="../img/tablet/yachtone-tablet@1x.webp 1x, ../img/tablet/yachtone-tablet@2x.webp 2x">
          <source media="(max-width:734px)" srcset="../../img/mobile/yachtone-mobile@1x.webp 1x, ../img/mobile/yachtone-mobile@2x.webp 2x">
          <img class="choose__img" src="../img/yachtone@1x.webp" alt="yacht sofa" />
        </picture>
      </li>
      <li class="choose__item">
        <picture>
          <source media="(min-width:1248px)" srcset="../img/desktop/yachttwo-desktop@1x.webp 1x, ../img/desktop/yachttwo-desktop@2x.webp 2x">
          <source media="(min-width:735px)" srcset="../img/tablet/yachttwo-tablet@1x.webp 1x, ../img/tablet/yachttwo-tablet@2x.webp 2x">
          <source media="(max-width:734px)" srcset="../img/mobile/yachttwo-mobile@1x.webp 1x, ../img/mobile/yachttwo-mobile@2x.webp 2x">
          <img class="choose__img" src="../img/yachttwo@1x.webp" alt="yacht citcken" />
        </picture>
      </li>
      <li class="choose__item">
        <picture>
          <source media="(min-width:1248px)" srcset="../img/desktop/yachtthree-desktop@1x.webp 1x, ../../img/desktop/yachtthree-desktop@2x.webp 2x">
          <source media="(min-width:735px)" srcset="../img/tablet/yachtthree-tablet@1x.webp 1x, ../../img/tablet/yachtthree-tablet@2x.webp 2x">
          <source media="(max-width:734px)" srcset="../img/mobile/yachtthree-mobile@1x.webp 1x, ../../img/mobile/yachtthree-mobile@2x.webp 2x">
          <img class="choose__img" src="../img/yachtthree@1x.webp" alt="yacht view" />
        </picture>
      </li>
    </ul>
    <div class="choose__wrapper">
      <div class="choose__wrap">
        <h2 class="choose__title">Choose your dream yacht and sail away into the sunset</h2>
        <button type="button" class="choose__btn">Yacht rental</button>
      </div>
    </div>
  </div>
</section>