<section class="footer">
    <div class="container">
        <h4 class="footer__title"><svg class="footer__icon">
            <use></use>Yacht Adventures
        </svg></h4>
        <ul class="footer__list">
            <h4 class="footer__cap">We in social</h4>
            <li class="footer__item">About</li>
            <li class="footer__item">Yachts</li>
            <li class="footer__item">Reviews</li>
        </ul>
        <ul class="footer__items">
            <li class="footer__wrap"><svg class="footer__img">
                <use href="../img/symbol-defs.svg#icon-facebook"></use></svg></li>
            <li class="footer__wrap">><svg class="footer__img">
                <use href="../img/symbol-defs.svg#icon-instagram"></use></svg></li>
            <li class="footer__wrap">><svg class="footer__img">
                <use href="../img/symbol-defs.svg#icon-youtube"></use></svg></li>
        </ul>
        <ul class="footer__lists">
            <li class="footer__liste">2023. Yacht Adventures</li>
            <li class="footer__liste">Privacy Police</li>
        </ul>
        <img src="" alt="photo" class="footer__light">
    </div>
</section>