<section class="hero">
    <div class="container hero__box">
        <div class="hero__textbox">
            <h2 class="hero__title">Explore the High Seas with <span class="hero__span">Our Luxury Yacht </span> Rentals</h2>
            <p class="hero__subtitle">Experience the freedom and luxury of yachting on the open seas. Choose from our
                top-of-the-line yachts and embark on anunforgettable journey surrounded by breathtaking views and
                state-of-the-art amenities.</p>
            <ul class="hero__list">
                <button class="hero__btngs">Get Started</button>
                <button class="hero__btnex">Explore</button>
            </ul>
        </div>
        <div class="hero__collagebox">
            <picture>
                <source media="(min-width:1248px)"
                    srcset="../../img/desktop/john-desktop@1x.webp 1x, .../../img/desktop/john-desktop@2x.webp 2x">
                <source media="(min-width:735px)"
                    srcset="../../img/tablet/john-tablet@1x.webp 1x, ../../img/tablet/victoria-tablet@2x.webp 2x">
                <source media="(max-width:734px)"
                    src="../../img/mobile/john-mobile@1x.webp 1x, ../../img/mobile/john-mobile@2x.webp 2x">
                <img class="hero__clientimg" src="../../img/john@1x.webp" alt="hero" />
            </picture>
            <picture>
                <source media="(min-width:1021px)"
                    srcset="./img/desktop/hero_girl-dekstop@1x.webp 1x, ./img/desktop/hero_girl-dekstop@2x.webp 2x">
                <source media="(min-width:735px)"
                    srcset="./img/tablet/hero_girl-tablet@1x.webp 1x, ./img/tablet/hero_girl-tablet@2x.webp 2x">
                <source media="(max-width:734px)"
                    srcset="./img/mobile/hero_girl-mobile@1x.webp 1x, ./img/mobile/hero_girl-mobile@2x.webp 2x">
                <img class="hero__clientimg" src="./img/hero_girl@x1.webp" alt="hero" />
            </picture>
            <picture>
                <source media="(min-width:1248px)"
                    srcset="./img/desktop/hero_girl-dekstop@1x.webp 1x, ./img/desktop/hero_girl-dekstop@2x.webp 2x">
                <source media="(min-width:735px)"
                    srcset="./img/tablet/hero_girl-tablet@1x.webp 1x, ./img/tablet/hero_girl-tablet@2x.webp 2x">
                <source media="(max-width:734px)"
                    srcset="./img/mobile/hero_girl-mobile@1x.webp 1x, ./img/mobile/hero_girl-mobile@2x.webp 2x">
                <img class="hero__clientimg" src="./img/hero_girl@x1.webp" alt="hero" />
            </picture>
            <h3 class="hero__caption">our clients</h3>
            <picture>
                <source media="(min-width:1248px)"
                    srcset="./img/desktop/hero_girl-dekstop@1x.webp 1x, ./img/desktop/hero_girl-dekstop@2x.webp 2x">
                <source media="(min-width:735px)"
                    srcset="./img/tablet/hero_girl-tablet@1x.webp 1x, ./img/tablet/hero_girl-tablet@2x.webp 2x">
                <source media="(max-width:734px)"
                    srcset="./img/mobile/hero_girl-mobile@1x.webp 1x, ./img/mobile/hero_girl-mobile@2x.webp 2x">
                <img class="hero__manimg" src="./img/hero_girl@x1.webp" alt="hero" />
            </picture>
            <picture>
                <source media="(min-width:1248px)"
                    srcset="./img/desktop/hero_girl-dekstop@1x.webp 1x, ./img/desktop/hero_girl-dekstop@2x.webp 2x">
                <source media="(min-width:735px)"
                    srcset="./img/tablet/hero_girl-tablet@1x.webp 1x, ./img/tablet/hero_girl-tablet@2x.webp 2x">
                <source media="(max-width:734px)"
                    srcset="./img/mobile/hero_girl-mobile@1x.webp 1x, ./img/mobile/hero_girl-mobile@2x.webp 2x">
                <img class="hero__yachtimg" src="./img/hero_girl@x1.webp" alt="hero" />
            </picture>
            <picture>
                <source media="(min-width:1248px)"
                    srcset="./img/desktop/hero_girl-dekstop@1x.webp 1x, ./img/desktop/hero_girl-dekstop@2x.webp 2x">
                <source media="(min-width:735px)"
                    srcset="./img/tablet/hero_girl-tablet@1x.webp 1x, ./img/tablet/hero_girl-tablet@2x.webp 2x">
                <source media="(max-width:734px)"
                    srcset="./img/mobile/hero_girl-mobile@1x.webp 1x, ./img/mobile/hero_girl-mobile@2x.webp 2x">
                <img class="hero__img" src="./img/hero_girl@x1.webp" alt="hero" />
            </picture>
            <h2 class="hero__accent">$12M</h2>
            <p class="hero__text">Book now and make your dream yacht rental a reality</p>
        </div>     
    </div>
</section>