<section class="hero">
    <div class="container hero__box">
        <div class="hero__textbox">
            <h2 class="hero__title">Explore the High Seas with <span class="hero__span">Our Luxury Yacht </span> Rentals</h2>
            <p class="hero__subtitle">Experience the freedom and luxury of yachting on the open seas. Choose from our
                top-of-the-line yachts and embark on anunforgettable journey surrounded by breathtaking views and
                state-of-the-art amenities.</p>
            <ul class="hero__list">
                <li class="hero__item">
                    <button class="hero__btn">Get Started</button>
                </li>
                <li class="hero__item">
                    <button class="hero__btn">Explore</button>
                </li>
            </ul>
        </div>
        <div class="hero__collagebox">
            <ul class="hero__clientlist">
                <li class="hero__clientitem">
                    <picture>
                        <source media="(min-width:1236px)"
                            srcset="./img/desktop/john-desktop@1x.webp 1x, ./img/desktop/john-desktop@2x.webp 2x">
                        <source media="(min-width:724px)"
                            srcset="./img/tablet/john-tablet@1x.webp 1x, ./img/tablet/john-tablet@2x.webp 2x">
                        <source media="(max-width:723px)"
                            srcset="./img/mobile/john-mobile@1x.webp 1x, ./img/mobile/john-mobile@2x.webp 2x">
                        <img class="hero__clientimg" src="./img/john@1x.webp" alt="hero" />
                    </picture>
                </li>
                <li class="hero__clientitem">
                <picture>
                        <source srcset="./img/desktop/victoria-desktop@1x.webp 1x, ./img/desktop/victoria-desktop@2x.webp 2x" media="(min-width:1236px)">
                        <source media="(min-width:724px)"
                            srcset="./img/tablet/victoria-tablet@1x.webp 1x, ./img/tablet/victoria-tablet@2x.webp 2x">
                        <source media="(min-width:723px)"
                            srcset="./img/mobile/victoria-mobile@1x.webp 1x, ./img/mobile/victoria-mobile@2x.webp 2x">
                        <img class="hero__clientimg" src="./img/victoria@1x.webp" alt="hero" />
                </picture>
                </li>
                <li class="hero__clientitem">
                    <picture>
                        <source media="(min-width:1236px)"
                            srcset="./img/desktop/ihor-desktop@1x.webp 1x, ./img/desktop/ihor-desktop@2x.webp 2x">
                        <source media="(min-width:724px)"
                            srcset="./img/tablet/ihor-tablet@1x.webp 1x, ./img/tablet/ihor-tablet@2x.webp 2x">
                        <source media="(min-width:723px)"
                            srcset="./img/mobile/ihor-mobile@1x.webp 1x, ./img/mobile/ihor-mobile@2x.webp 2x">
                        <img class="hero__clientimg" src="./img/ihor@1x.webp" alt="hero" />
                    </picture>
                </li>
            </ul>
            <h3 class="hero__caption">our clients</h3>
            <picture>
                <source media="(min-width:1236px)"
                    srcset="./img/desktop/heroman-desktop@1x.webp 1x, ./img/desktop/heroman-desktop@2x.webp 2x">
                <source media="(min-width:724px)"
                    srcset="./img/tablet/heroman-tablet@1x.webp 1x, ./img/tablet/heroman-tablet@2x.webp 2x">
                <source media="(max-width:723px)"
                    srcset="./img/mobile/heroman-mobile@1x.webp 1x, ./img/mobile/heroman-mobile@2x.webp 2x">
                <img class="hero__manimg" src="./img/heroman@x1.webp" alt="hero" />
            </picture>
            <picture>
                <source media="(min-width:1236px)"
                    srcset="./img/desktop/yachthero-desktop@1x.webp 1x, ./img/desktop/yachthero-desktop@2x.webp 2x">
                <source media="(min-width:724px)"
                    srcset="./img/tablet/yachthero-tablet@1x.webp 1x, ./img/tablet/yachthero-tablet@2x.webp 2x">
                <source media="(max-width:723px)"
                    srcset="./img/mobile/yachthero-mobile@1x.webp 1x, ./img/mobile/yachthero-mobile@2x.webp 2x">
                <img class="hero__yachtimg" src="./img/yachthero@1x.webp" alt="hero" />
            </picture>
            <picture>
                <source src="./img/hero-bg.webp">
                <img class="hero__bg" src="./img/hero-bg.webp" alt="hero" />
            </picture>
            <div class="hero__captionbox">
                <h2 class="hero__accent">$12M</h2>
                <p class="hero__text">Book now and make your dream yacht rental a reality</p>
            </div>
        </div>     
    </div>
</section>