<div data-modal class="backdrop is-hidden">
      <div class="modal">
        <button class="modal__close" data-modal-close type="button">
          <svg class="modal__icon">
            <use href="../img/symbol-defs.svg#icon-close"></use>
          </svg>
        </button>
        <img class="modal__img" src="./img/yachthero@1x.webp" alt="yacht">
        <div class="modal__box">
        <h2 class="modal__tittle">Thank you</h2>
        <p class="modal__text">Thank you for choosing Yacht Adventures, your booking details have been received and our team will be in touch shortly to confirm your reservation and provide any additional information or assistance you may need.</p>
        </div>
     </div>
</div>