<section class="rent" id="rent">
  <div class="container rent__boxis">
    <div class="rent__boxone">
      <h2 class="rent__tittle">Rent a yacht now</h2>
      <picture>
        <source
          media="(min-width:1236px)"
          srcset="
            ../img/desktop/rent-desktop@1x.webp 1x,
            ../img/desktop/rent-desktop@2x.webp 2x
          "
        />
        <source
          media="(min-width:725px)"
          srcset="
            ../img/tablet/rent-tablet@1x.webp 1x,
            ../img/tablet/rent-tablet@2x.webp 2x
          "
        />
        <source
          media="(max-width:724px)"
          srcset="
            ../img/mobile/rent-mobile@1x.webp 1x,
            ../img/mobile/rent-mobile@2x.webp 2x
          "
        />
        <img src="./img/rent@1x.webp" alt="rent" class="rent__img" />
      </picture>
    </div>
    <div class="rent__boxtwo">
      <form class="rent__form">
        <label class="rent__label">
          Full Name
          <input required class="rent__input" type="text" />
        </label>

        <label class="rent__label">
          Email
          <input required class="rent__input" type="email" />
        </label>

        <label class="rent__label">
          Phone number
          <input required class="rent__input" type="tel" />
        </label>

        <label class="rent__label">
          Comment
          <textarea class="rent__textarea"></textarea>
        </label>
      </form>

      <button class="rent__btn" data-modal-open type="button">
        Send
        <svg class="rent__icon">
          <use href="./img/symbol-defs.svg#icon-arrow"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
